<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/parbhatrai/docker-jenkins-nginx-go-ci.git</url>
        <credentialsId>9aedac02-2b27-4195-8a9e-8beff4e2bb74</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
# download from git
project=&quot;docker-jenkins-nginx-go-ci&quot;
port=3000
docker=&quot;sudo docker&quot;
# check for running container
if $docker ps | grep $project; then
        $docker stop $project
fi
# check for stopped container
if $docker ps -a | grep $project; then
        $docker rm $project
fi
# check for image
if $docker images | grep $project; then 
        $docker rmi $project
fi
# create docker image
$docker build -t $project .
# run docker image
$docker run -d -p $port:3000 --name $project $project</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
